<div class="text-center">
  <h2
    id="user_id"
    data-blogpost-id={{id}}
    data-user-id={{user_id}}
  >{{blogpost_name}}</h2>
  <p>{{blogpost_description}}</p>
  <p>Post created by
    {{user.username}}
    on
    {{format_date date_created}}</p>

  <div>
    <h4>
      Existing comments:
    </h4>
    <ul class="list-group" id="comment-group">

      {{#each comments as |comment|}}

        <li
          class="list-group-item"
          data-user-comment-id={{comment.user_id}}
        >{{comment.content}}</li>

      {{/each}}
    </ul>
  </div>

  <form class="form new-comment-form">
    <div class="form-group">
      <label for="comment-name">Post a comment:</label>
      <input
        class="form-input"
        type="text"
        id="comment-name"
        name="comment-name"
      />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary create-comment">Submit
        Comment</button>
    </div>
  </form>
  {{!-- <button
    class="btn btn-sm btn-secondary comment-blogpost"
    data-id="{{comment.id}}"
  >COMMENT</button> --}}

</div>
<script src="/js/comment.js"></script>